---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Contact from '../components/Contact.astro';
import EBooks from '../components/EBooks.astro';
import AboutMe from '../components/AboutMe.astro';
import Banner from '../components/Banner.astro';
---

<Layout title="Educa(te).">
	<main>
		<Banner />
		<Hero />
		<AboutMe />
		<Contact />
		
		<!-- <EBooks /> -->
		
	</main>
</Layout>

<style>
</style>
