---

---

<footer class="w-full bg-[#25262B] p-2 flex flex-col items-center rounded-t-xl">
  <img src="../../public/Educate.png" alt="logo-educate" class="size-12 rounded-xl mb-2">
  <span class="text-gray-400 font-light border-t border-gray-400 text-center w-1/2">© 2024 Educate. Todos los derechos reservados.</span>
  
</footer>
