---
import Banner from "./Banner.astro";
import Container from "./Container.astro";
import DownloadIcon from "./DownloadIcon.astro";
import Form from "./Form.astro";
import Form2 from "./Form2.astro";
import Check from "./ico/Check.astro";
---

<section id="Hero" class="bg-[#F1F0F5]">
  <Container>
    <div class="hidden md:block">
      <Banner />
    </div>
    <div class="h-full md:justify-between py-8">
      <h1 class="text-4xl font-medium text-center md:hidden md:mx-auto">
        Somos la solución para adquirir habilidades digitales<br><span
          class="text-[#00BF63] animate-fadeInOut"
        >
          con ebooks</span
        >
      </h1>
      <div class="flex flex-col items-center gap-2">
        <div
          class="w-full md:w-[90%] px-4 pt-8 pb-4 md:pb-0 md:pt-0 flex md:items-center"
        >
          <ul class="md:mb-12">
            <!-- <img
          src="/img-hero.png"
          alt=""
          class="size-72 mx-auto hidden md:block"
          
        /> -->
            <h1 class="text-5xl font-semibold hidden md:block pb-12">
              Somos la solución para adquirir habilidades digitales<span
                class="text-[#00BF63] animate-fadeInOut"
              >
                con ebooks</span
              >
            </h1>
            <li class="flex pb-2 gap-2">
              <Check />
              <span>Empezar no cuesta nada</span>
            </li>
            <li class="flex pb-2 gap-2">
              <div class="w-[24px] h-[24px]">
                <Check />
              </div>
              <span>Herramientas para crecer tu negocio en un solo lugar</span>
            </li>
            <li class="flex gap-2">
              <Check />
              <span>Soporte que te ayudará a crecer</span>
            </li>
          </ul>
          <div class="w-3/4 hidden md:block">
            <img src="/portada.png" alt="" />
            <Form2 />
          </div>
        </div>
        <!-- <span class="">
          Aprende a desarrollar habilidades digitales con nuestros eBooks,
          diseñados para llevarte paso a paso hacia el éxito profesional.
        </span> -->
        <!-- <a
          href="#"
          class="bg-[#1F1F1F] text-center rounded py-1 font-semibold w-3/4 md:w-1/2 text-white mt-4"
        >
          Ver eBooks Disponibles
        </a> -->
        <div class="md:hidden">
          <Banner />
          <img src="/portada.png" alt="" />
          <Form2 />
        </div>
        <div class="px-4"></div>
      </div>
    </div>
  </Container>
</section>
