---
import Banner from "./Banner.astro";
import Container from "./Container.astro";
import DownloadIcon from "./DownloadIcon.astro";
import Form from "./Form.astro";
import Check from "./ico/Check.astro";
---

<section id="Hero" class="bg-[#F1F0F5]">
  <Container>
    <div class="h-full md:flex md:justify-between py-8">
      <!-- Contenedor para móviles -->
      <h1 class="text-4xl font-medium text-center">
        Somos la solución para adquirir habilidades digitales<br><span class="text-[#00BF63]">con ebooks</span>
      </h1>
      <div class="md:hidden flex flex-col items-center gap-2">
        <img
          src="../../public/img-hero.png"
          alt=""
          class="size-32 md:size-72 mx-auto mb-2 hidden"
        />
        <div class="px-4 pt-8 pb-4">
          <ul>
            <li class="flex pb-2 gap-2">
              <Check />
              <span>Empezar no cuesta nada</span>
            </li>
            <li class="flex pb-2 gap-2">
              <Check />
              <span>Herramientas para crecer tu negocio en un solo lugar</span>
            </li>
            <li class="flex gap-2">
              <Check />
              <span>Soporte que te ayudará a crecer</span>
            </li>
          </ul>
        </div>
        <!-- <span class="">
          Aprende a desarrollar habilidades digitales con nuestros eBooks,
          diseñados para llevarte paso a paso hacia el éxito profesional.
        </span> -->
        <!-- <a
          href="#"
          class="bg-[#1F1F1F] text-center rounded py-1 font-semibold w-3/4 md:w-1/2 text-white mt-4"
        >
          Ver eBooks Disponibles
        </a> -->
        <div>
          <Banner />
          <img src="../../public/portada.png" alt="">
        </div>
        <div class="px-4">
        
        <Form />
      </div>
      </div>

      <!-- Imagen para escritorio -->
      <img
        src="../../public/img-hero.png"
        alt=""
        class="hidden md:block size-72"
      />
    </div>
  </Container>
</section>
